
<section class=" pt-5 container position-relative mb-4">
  <div class="lottie-wrapper">
      <ng-lottie [options]="lottieOptions" class="lottie-background"></ng-lottie>
  </div>

  <div class="row head-about">
      <div class="col-xl-6 position-relative">
          <h2>An Easier Way to be <br> Sub and Find Sub</h2>
          <img class="arrow" src="scrip.png" alt="">

      </div>
      <div class="col-xl-6 ">
          <p class="fs-5" >
              when schools and districts have reliable access to <br />
              substitute teachers and subs have the freedom to <br />
              choose what and when they teach
          </p>
      </div>
  </div>
  <div class="row about-cards mt-4">
      <div class="col-xl-4">
          <div class="card my-1">
              <h3>Teacher absences <span>distrupt</span> student <br> learning</h3>
              <p>when schools and districts have<br> reliable access to substitute</p>
              <img class=" card-icon" src="glob.png" alt="">
          </div>
      </div>
      <div class="col-xl-4 my-1">
          <div class="card">
              <img class=" card-icon" src="paint.png" alt="">
              <h3>A better way to <span>connect</span> subs and <br> schools</h3>
              <p>when schools and districts have<br> reliable access to substitute</p>
          </div>
      </div>
      <div class="col-xl-4 my-1">
          <div class="card">
              <h3>Student learning stays <span>on track</span> to<br> meet target</h3>
              <p>when schools and districts have<br> reliable access to substitute</p>
              <img class=" card-icon" src="glob.png" alt="">

          </div>
      </div>


  </div>
</section>
