.crud-container {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
  }
  
  .boy-img {
    position: absolute;
    width: 150px;
    right: 0px;
  }
  
  h2 {
    text-align: center;
    color: #333;
  }
  
  .add-btn {
    background-color: rgb(45, 125, 118);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
  }
  
  .add-btn:hover {
    background-color: #45a049;
  }
  
  .no-questions {
    text-align: center;
    color: #888;
  }
  
  .question-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .question-table th,
  .question-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
  }
  
  .question-table th {
    background-color: #f4f4f4;
    color: #333;
  }
  
  .question-table td {
    background-color: #fff;
  }
  
  .edit-btn,
  .delete-btn {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 5px;
  }
  
  .edit-btn {
    background-color: rgb(45, 125, 118);
    color: white;
  }
  
  .edit-btn:hover {
    background-color: #0056b3;
  }
  
  .delete-btn {
    background-color: #ff4444;
    color: white;
  }
  
  .delete-btn:hover {
    background-color: #cc0000;
  }