<footer>
  <div class="container-fluid container-line"></div>
  <nav class="navbar navbar-expand-lg my-4">
    <div class="container">
      <a class="navbar-brand fw-bolder" [routerLink]="['/']">
        <img src="books.png" class="img-logo img-fluid me-2" alt="logo" />
        <span class="fs-4">Edu</span>Learn</a
      >
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav m-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link mx-2" aria-current="page" href="#">Find Sub</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-2" href="#">For School</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-2" href="#">Resource</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-2" href="#">About Us</a>
          </li>
        </ul>
        <button class="btn btn-warning text-white">Subscribe Now</button>
      </div>
    </div>
  </nav>
  <div class="container d-flex justify-content-between align-items-center my-4">
    <p class="text-muted">&copy; swing.co 2023, All Rights Reserved</p>
    <div>
      <span class="mx-4 social-logo d-inline-block position-relative">
        <i
          class="fa-brands fa-facebook-f fs-4 text-white position-absolute"
        ></i>
      </span>
      <span class="mx-4 social-logo d-inline-block position-relative">
        <i class="fa-brands fa-instagram fs-4 text-white position-absolute"></i>
      </span>
      <span class="mx-4 social-logo d-inline-block position-relative">
        <i class="fa-brands fa-twitter fs-4 text-white position-absolute"></i>
      </span>
    </div>
  </div>
</footer>
