<div class="container text-white rounded-4 p-5 contact-container position-relative">
  <div class="row justify-content-center align-items-center">
    <div class="col-lg-4 col-md-4 col-sm-4">
      <img src="mail.gif" class="img-fluid w-75" alt="Email-Design">
    </div>
    <div class="col-lg-8 col-md-8 col-sm-8">
      <h3 class="fw-semibold mb-4">Get in Touch</h3>
      <h1 class="fw-semibold mb-4">Join our Community <br/> of school partners</h1>
      <p class="mb-4">
        Looking to become a substitute teacher ? Our Education is now <br/> servicing the
        greater Chicago area!
      </p>
      <div class="position-absolute arrow-div">
        <i class="fa-solid fa-arrow-up fs-1 p-4"></i>
      </div>
      <img src="star.png" class="position-absolute img-fluid star-img p-2" alt="Star-Design">
    </div>
  </div>
</div>
