<div class="container">
  <div class="row justify-content-center align-content-center card-container">
    <div class="d-flex justify-content-between align-items-center px-4 mb-3">
      <h1>View Exam</h1>
      <!-- <a class="btn add-btn text-white" [routerLink]="['/teacher/add-exam']"
        >Add Exam</a
      > -->
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 coll">
      <div class="card-item">
        <div class="card-link position-relative">
          <div
            class="img-container d-flex justify-content-center align-items-center rounded-4"
          >
          @if (exam.image == null) {
            <img
              src="exam-icon.png"
              alt="Card Image"
              class="card-image img-fluid"
            />
            } @else {
            <img
              [src]="apiUrl + exam.image"
              alt="Card Image"
              class="card-image img-fluid"
            />
            }
          </div>
          <small class="badge position-absolute">{{ exam.subject }}</small>
          <p class="main">{{ exam.name }}</p>
          <h2 class="card-title">
            {{ exam.description }}
            <!-- Exam Description: This is math exam and suitable for High School
            students and it's level is considered medium. -->
          </h2>
          <div class="my-3 exam-three">
            <div
              class="d-flex justify-content-center align-items-center m-0 p-0"
            >
              <div
                class="d-flex flex-column justify-content-center align-items-center"
              >
                <p class="text-muted mx-3 my-0 fw-medium">
                  {{ exam.duration }}
                </p>
                <p class="text-muted mx-3 my-0 text-uppercase fw-light">
                  Duration
                </p>
              </div>
              <div
                class="d-flex flex-column justify-content-center align-items-center"
              >
                <p class="text-muted mx-3 my-0 fw-medium">
                  {{ exam.passingMarks }}
                </p>
                <p class="text-muted mx-3 my-0 text-uppercase fw-light">Pass</p>
              </div>
              <div
                class="d-flex flex-column justify-content-center align-items-center"
              >
                <p class="text-muted mx-3 my-0 fw-medium">
                  {{ exam.totalMarks }}
                </p>
                <p class="text-muted mx-3 my-0 text-uppercase fw-light">
                  Total
                </p>
              </div>
            </div>
          </div>
          <!-- @for (question of exam.questions; track question._id) { -->
            @for (question of [].constructor(4); track $index) {
          <div class="questions-div">
            <div
              class="alert alert-light d-flex justify-content-between align-items-center"
            >
            <div>

              <p class="my-0">Question 1: what is your name?</p>
              <sub class="text-muted">Created By: {{question.user.username}}</sub>
            </div>
              <div class="m-0">
                <a
                  class="btn btn-warning text-white rounded-start-2 rounded-end-0"
                  [routerLink]="['/teacher/edit-question/' + question._id]"
                >
                  Edit
                </a>
                <button
                  class="btn btn-danger rounded-start-0 rounded-end-2"
                  (click)="deleteQuestion(question._id)"
                >
                  Delete
                </button>
              </div>
            </div>
          </div>
          }
          <div class="d-flex justify-content-between align-items-center">
            <div class="m-0">
              <a
                class="card-button btn btn-warning text-white rounded-start-circle rounded-end-0"
                [routerLink]="['/teacher/edit-exam/' + exam._id]"
              >
                <i class="fa-solid fa-pen-to-square"></i>
              </a>
              <button
                class="card-button btn btn-danger rounded-start-0 rounded-end-circle"
                (click)="deleteExam(exam._id)"
              >
                <i class="fa-solid fa-delete-left"></i>
              </button>
            </div>
            <a
              class="btn btn-success text-white rounded-4 add-q-button"
              [routerLink]="['/teacher/add-question']"
            >
              Add Question
            </a>
            <button class="btn custom-btn">{{ exam.user?.username }}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
