<header class="container">
  <section class="row">
    <section class="left-header col-xl-6">
      <h1 class="mt-5">Keep Learning On Track</h1>
      <p>
        when schools and districts have reliable access to <br />
        substitute teachers and subs have the freedom to <br />
        choose what and when they teach
      </p>
      <button class="btn">Get Started</button>
      <div class="left-cards row position-relative">
        <img
          class="sub-pic position-absolute img-fluid"
          src="expressive-young-woman-posing-studio.png"
          alt=""
        />
        <div class="card-one col-xl-6">
          <h3 class="text-white ms-3">
            Best Certified <br />
            Teacher <br />
            Worldwide
          </h3>

          <p class="text-white ms-3">
            <span class="d-block num"> 210+ </span> Expert already join us
          </p>
        </div>
        <div class="card-two col-xl-6">
          <img
            class="w-100 h-50 rounded-4 img-fluid"
            src="diverse-kids-reading-books.jpg"
            alt=""
          />
          <p class="text-white fw-bold mt-3">
            Transforming Schools <br />
            and substitute <br />
            teachers
          </p>
        </div>
      </div>
    </section>
    <section class="right-header col-xl-6 position-relative">
      <img
        src="freepik__background__58925.png"
        alt=""
        class="main-pic img-fluid"
      />

      <div class="top row mt-5 pt-5">
        <div class="icon col-xl-6">
          <ng-lottie
            [options]="lottieOptions"
            width="100px"
            height="100px"
            class="pop"
          >
          </ng-lottie>
        </div>
        <div class="col-xl-6 green">
          <img class="pen-t img-fluid" src="white pen.png" alt="" />
        </div>
      </div>
      <div class="mid">
        <img class="bag-img img-fluid" src="white bag.png" alt="" />
      </div>
      <div class="btm">
        <img class="bag-img img-fluid" src="white pen.png" alt="" />
        <img class="book d-block img-fluid" src="white book.png" alt="" />
      </div>
    </section>
  </section>
</header>
